# Preprocesamiento

In [ ]:
import pandas as pd

import sys
sys.path.append("..")

from src.support_prep import *
from src.support_models import *

In [8]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
df = pd.read_pickle("../datos/clean.pkl")

In [6]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,...,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,2,Female,1,...,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,...,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,...,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,...,9.0,2,6,0,4,4.0,1.0,3.0,3,3

In [11]:
cat_cols = df.select_dtypes("O").columns.drop("Attrition")

In [12]:
detectar_orden_cat(df = df, lista_cat=cat_cols,var_respuesta="Attrition")

Estamos evaluando la variable BUSINESSTRAVEL

Attrition            No  Yes
BusinessTravel
Non-Travel          414   36
Travel_Frequently   624  207
Travel_Rarely      2661  468

Para la categoría BUSINESSTRAVEL SÍ hay diferencias significativas, p = 0.0000

Attrition              No    Yes
BusinessTravel
Non-Travel          377.0   73.0
Travel_Frequently   697.0  134.0
Travel_Rarely      2625.0  504.0

--------------------------------------------------------------------------------
Estamos evaluando la variable DEPARTMENT

Attrition                 No  Yes
Department
Human Resources          132   57
Research & Development  2430  453
Sales                   1137  201

Para la categoría DEPARTMENT SÍ hay diferencias significativas, p = 0.0000

Attrition                   No    Yes
Department
Human Resources          159.0   30.0
Research & Development  2418.0  465.0
Sales                   1122.0  216.0

--------------------------------------------------------------------------------
Estamos evaluando la variable EDUCATIONFIELD

Attrition           No  Yes
EducationField
Human Resources     48   33
Life Sciences     1515  303
Marketing          402   75
Medical           1167  225
Other              216   30
Technical Degree   351   45

Para la categoría EDUCATIONFIELD SÍ hay diferencias significativas, p = 0.0000

Attrition             No    Yes
EducationField
Human Resources     68.0   13.0
Life Sciences     1525.0  293.0
Marketing          400.0   77.0
Medical           1168.0  224.0
Other              206.0   40.0
Technical Degree   332.0   64.0

--------------------------------------------------------------------------------
Estamos evaluando la variable GENDER

Attrition    No  Yes
Gender
Female     1494  270
Male       2205  441

Para la categoría GENDER NO hay diferencias significativas, p = 0.2453

--------------------------------------------------------------------------------
Estamos evaluando la variable JOBROLE

Attrition                   No  Yes
JobRole
Healthcare Representative  336   57
Human Resources            135   21
Laboratory Technician      651  126
Manager                    264   42
Manufacturing Director     387   48
Research Director          183   57
Research Scientist         717  159
Sales Executive            813  165
Sales Representative       213   36

Para la categoría JOBROLE SÍ hay diferencias significativas, p = 0.0015

Attrition                     No    Yes
JobRole
Healthcare Representative  330.0   63.0
Human Resources            131.0   25.0
Laboratory Technician      652.0  125.0
Manager                    257.0   49.0
Manufacturing Director     365.0   70.0
Research Director          201.0   39.0
Research Scientist         735.0  141.0
Sales Executive            820.0  158.0
Sales Representative       209.0   40.0

--------------------------------------------------------------------------------
Estamos evaluando la variable MARITALSTATUS

Attrition        No  Yes
MaritalStatus
Divorced        882   99
Married        1767  252
Single         1050  360

Para la categoría MARITALSTATUS SÍ hay diferencias significativas, p = 0.0000

Attrition          No    Yes
MaritalStatus
Divorced        823.0  158.0
Married        1693.0  326.0
Single         1183.0  227.0

--------------------------------------------------------------------------------
Estamos evaluando la variable JOBSATISFACTION

Attrition          No  Yes
JobSatisfaction
1.0               663  197
2.0               702  138
3.0              1104  219
4.0              1211  156
unknown            19    1

Para la categoría JOBSATISFACTION SÍ hay diferencias significativas, p = 0.0000

Attrition            No    Yes
JobSatisfaction
1.0               721.0  139.0
2.0               705.0  135.0
3.0              1110.0  213.0
4.0              1147.0  220.0
unknown            17.0    3.0

--------------------------------------------------------------------------------
Estamos evaluando la variable WORKLIFEBALANCE

Attrition          No  Yes
WorkLifeBalance
1.0               164   75
2.0               848  171
3.0              2280  380
4.0               373   81
unknown            34    4

Para la categoría WORKLIFEBALANCE SÍ hay diferencias significativas, p = 0.0000

Attrition            No    Yes
WorkLifeBalance
1.0               200.0   39.0
2.0               855.0  164.0
3.0              2231.0  429.0
4.0               381.0   73.0
unknown            32.0    6.0

--------------------------------------------------------------------------------

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# from imblearn.under_sampling import TomekLinks


# categorical_columns = df_general.drop(columns="Attrition").select_dtypes(include=["object", "category"]).columns
# df_encoded = df_general.copy()

# label_encoders = {}
# for col in categorical_columns:
#     le = LabelEncoder()
#     df_encoded[col] = le.fit_transform(df_encoded[col])
#     label_encoders[col] = le

# X = df_encoded.drop(columns="Attrition")
# y = df_encoded["Attrition"]

# from imblearn.combine import SMOTETomek
# smote_tomek = SMOTETomek(random_state=42)
# X_resampled, y_resampled = smote_tomek.fit_resample(X, y)

# for col in categorical_columns:
#     X_resampled[col] = label_encoders[col].inverse_transform(X_resampled[col])